.toolbar {
  margin: 10px 25px 0 25px;
}

@media (max-width: 600px) {
  .toolbar {
    margin: 10px 5px 0 5px;
  }
}

.sidemenu {
  position: fixed;
  height: 100%;
}

.logo,
.logo a {
  text-decoration: none;
  color: #787878;
  margin-bottom: 20px;
}

.menu-item {
  padding: 3px 0;
  color: #787878;
  font-weight: 400 !important;
}

.menu-item a,
.menu-item a p {
  text-decoration: none;
  color: #787878;
  font-weight: 400 !important;
}

.copyright {
  margin-top: 20px;
  color: #787878;
  font-size: 12px;
}

.dropdown-menu {
  max-height: fit-content;
  width: 200px;
  position: fixed;
  z-index: 2;
  background-color: white;
  overflow-x: hidden;
  border-radius: 5px;
}

.back-layer {
  z-index: 2;
  overflow-x: hidden;
  background: #dbdbdb;
  opacity: 0;
  filter: alpha(opacity=30);
  -moz-opacity: 0.2;
  height: 100%;
  width: 100%;
  bottom: 0;
  top: 0;
  position: fixed;
  display: none;
}

@media (min-width: 600px) {
  .MuiMenuItem-root {
    min-height: auto !important;
    margin: 7px;
  }
}

.MuiMenuItem-root {
  min-height: auto !important;
}
