.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    bottom: 0;
    right: 0;
    background-color: #000000;
    overflow-x: hidden;
    transition: width 0.3s;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    border-left: 0;
}

.back-layer {
    z-index: 2;
    overflow-x: hidden;
    background: #dbdbdb;
    opacity: 0.3;
    filter: alpha(opacity=30);
    -moz-opacity: 0.2;
    height: 100%;
    width: 100%;
    bottom: 0;
    top: 0;
    position: fixed;
    display: none;
}