* {
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  display: flex;
  text-align: center;
  color: #e7e7e7;
}

.Logo {
  max-width: 10px;
}

.btn {
  background-color: gray;
}

.btn:hover {
  background-color: lightgray;
}

p {
  margin: 8px 0;
}

.text-color {
  color: #525252 !important;
}