* {
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  display: flex;
  text-align: center;
  color: #444444;
}

.Logo {
  max-width: 10px;
}

.app-container {
  min-height: 100vh;
  padding: 80px 80px 30px 80px;
  background-color: #f1f1f1 !important;
  /*background-image: url('../images/background.png') !important;*/
}

@media (max-width: 800px) {
  .app-container {
    padding: 0;
  }
}

.MuiPaper-root {
  background-color: #f1f1f1 !important;
  /*background-image: url('../images/background.png') !important;*/
}
