.explorer {
  margin: 10px 50px;
}

@media (max-width: 600px) {
  .explorer {
    margin: 10px 15px;
  }
}

.explorers {
  display: flex;
  width: 100%;
  position: relative;
}

.painting-home {
  margin: 15px;
}

@media (max-width: 600px) {
  .painting-home {
    margin: 0 15px 15px 15px;
  }
}
