.toolbar {
  margin: 10px 25px 0 25px;
}

@media (max-width: 600px) {
  .toolbar {
    margin: 10px 5px 0 5px;
  }
}

.sidemenu {
  position: fixed;
  height: 100%;
}

.logo,
.logo a {
  text-decoration: none;
  color: #525252;
  margin-bottom: 20px;
}

.menu-item {
  margin: 0;
  color: #525252;
  font-size: 0.9rem !important;
  font-weight: 400 !important;
}

.menu-item-active {
  margin: 0;
  color: #7c7c7c;
  font-size: 0.9rem !important;
  font-weight: 600 !important;
}

.copyright {
  margin-top: 20px;
  color: #525252;
  font-size: 12px;
}

.dropdown-menu {
  max-height: fit-content;
  width: 200px;
  position: fixed;
  z-index: 2;
  background-color: white;
  overflow-x: hidden;
  border-radius: 5px;
}

.popup-nav {
    height: fit-content;
    width: 0;
    position: absolute;
    z-index: 2;
    top: 80px;
    right: 34px;
    overflow-x: hidden;
    transition: width 0.5s;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-left: 0;
    display: none;
    box-shadow: rgb(28 28 28 / 12%) 3px 5px 11px 0px;
}

.back-layer {
  z-index: 2;
  overflow-x: hidden;
  background: #dbdbdb;
  opacity: 0;
  filter: alpha(opacity=30);
  -moz-opacity: 0.2;
  height: 100%;
  width: 100%;
  bottom: 0;
  top: 0;
  position: fixed;
  display: none;
}

@media (min-width: 600px) {
  .MuiMenuItem-root {
    min-height: auto !important;
    margin: 7px;
  }
}

.MuiMenuItem-root {
  min-height: auto !important;
}
