.painter {
  margin: 10px 50px;
}

@media (max-width: 600px) {
  .painter {
    margin: 10px 15px;
  }
}

.paintings {
  display: flex;
  width: 100%;
  position: relative;
}

.painting {
  margin: 15px;
}

@media (max-width: 600px) {
  .painting {
    margin: 0 15px 15px 15px;
  }
}

.abstract {
  padding-top: 15px;
}

.title {
  font-weight: 600 !important;
  font-size: 13px !important;
  color: #646464 !important;
}

.index-image {
  height: 200px;
  width: 200px;
}
