.painter {
  min-height: 100vh;
  padding: 80px 80px 30px 80px;
  background-color: #f1f1f1;
}


@media (max-width: 600px) {
  .painter {
    margin: 10px 15px;
    padding: 0;
  }
}

.paintings {
  display: flex;
  width: 100%;
  position: relative;
}

.painting {
  margin: 25px;
  width: 150px;
}

.painting-image-show {
  margin: 20px;
  width: 250px;
  border-radius: 0;
}

.painting-show-content {
  margin: 20px;
}

@media (max-width: 600px) {
  .painting {
    margin: 0 15px 15px 15px;
  }
}

.abstract {
  padding-top: 5px;
}

.title {
  font-weight: 600 !important;
  font-size: 13px !important;
  color: #646464 !important;
}

.painting-title-index {
  font-weight: 600;
  font-size: 12px;
  text-decoration: none;
  color: #727272;
}

.painting-title-index:hover, .painting-title-popup:hover {
  text-decoration: underline;
}

.painting-title-popup {
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  color: #727272;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.painting-dialog-image {
  position: relative;
}

.painting-dialog-content {
  padding: 20px;
  position: absolute;
  background-color: white;
  opacity: 1;
  bottom: 16px;
  display: none;
  width: 0;
}

.horizontal {
  margin-top: 10px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}